###############################################################################
# Classics
###############################################################################
bin
gen
*.orig

###############################################################################
# IntelliJ IDEA
###############################################################################
*.iml
*.ipr
*.iws
.idea
target
classes

###############################################################################
# Eclipse
###############################################################################
.settings
.classpath
.project
local.properties

###############################################################################
# Gradle
###############################################################################
.gradle
*/build/*
gradle/*

###############################################################################
# Miscellaneous
###############################################################################
*Thumbs.db
*.swp
.DS_STORE
lint-report.xml
*.log
